.header {
  background-color: black;
  width: 16rem;
  border-right: 2px solid #3e474d;
  height: 100vh;
  z-index: 100;
  position: sticky;
  top: 0;
}
.header .logo {
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.header .logo a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}
.header nav {
  position: relative;
  padding: 20px;
  margin-top: 20px;
}
.header nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.header nav ul li .active {
  color: #aca5bc;
}

.header nav ul li {
  list-style: none;
  font-size: 23px;
}
.header nav ul li a svg {
  width: 26px;
  height: 26px;
}
.header nav ul li a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
}
@media (max-width: 900px) {
  .header {
    width: 100px;
  }
  .header nav {
    margin-top: 20px;
  }
  .header nav ul {
    gap: 1.7rem;
  }
  .header nav ul li {
    font-size: 1.8rem;
    margin-left: 14px;
  }
  .header nav ul li p {
    display: none;
  }
  .header nav ul li a svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .header {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }

  .header .logo {
    display: none;
  }

  .header nav {
    flex: 1;
    margin: 0;
  }

  .header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .header nav ul li p {
    display: none;
  }
  .header nav ul li a svg {
    width: 28px;
    height: 28px;
  }
  .content {
    padding-bottom: 70px;
  }
}
